/* Variables Sass */
/* Colores */
/* Textos */
/* CSS */
canvas {
  display: block;
  vertical-align: bottom; }

/* Titulos */
h1 {
  color: #fff;
  font-family: "Patua One", cursive; }

h2 {
  color: #150035;
  font-family: "Patua One", cursive;
  font-size: 3em; }

h3 {
  font-family: "Patua One", cursive; }

/*Cajas Responsives */
.box {
  background-color: #EE2466;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1rem; }

.box:hover {
  background: #150035;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer; }

.sec__servicios {
  padding-top: 100px; }

/* particles */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

#particles-js {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; }

/* Hero imagen */
.hero-image {
  background-color: #EE2466;
  padding: 170px 0px;
  position: relative; }

/* Float Shadow */
.box {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
  .box:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: -o-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform opacity;
    transition-property: -webkit-transform opacity;
    -o-transition-property: transform opacity;
    transition-property: transform opacity;
    transition-property: transform opacity, -webkit-transform opacity; }
  .box:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    /* move the element up by 5px */ }
    .box:hover:before {
      opacity: 1;
      -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
      transform: translateY(10px);
      /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */ }

/* carousel clientes */
.clientes {
  padding-top: 100px; }

/* Iconos */
.icon {
  width: 100%; }

/* datos contacto */
.datos__contacto {
  padding-top: 100px; }

.boxes {
  background-color: #EE2466;
  padding: 20px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 1; }
  .boxes a {
    color: #fff; }

.datos__contacto {
  top: 30px;
  position: relative;
  z-index: 1; }

.mapa__ubicacion {
  z-index: -2; }

/* Footer */
footer {
  background-color: #000;
  padding: 200px 0px;
  color: #fff; }

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }

ul.social-network li {
  display: inline;
  margin: 0 5px; }

/* footer social icons */
.social-network a.icoFacebook:hover {
  background-color: #3B5998; }

.social-network a.icoLinkedin:hover {
  background-color: #007bb7; }

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff; }

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD; }

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px; }

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center; }

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }

.social-network a {
  background-color: #F9F9F9; }
